@import url("https://fonts.googleapis.com/css2?family=Literata:opsz@7..72&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.literata {
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: sans-serif;
  background-color: #b7b2d3;
  color: #070320;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
}
h2 span {
  color: #6153bd;
}

p,
label {
  color: #7d7d7d;
  font-family: sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

.main-container {
  border-radius: 1rem;
  width: 72rem;
  height: 40rem;
  background-color: #fbfaff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  z-index: 100;
}

@keyframes slide {
  0%, 25% {
    transform: translateX(0);
  }
  33.3333%, 58.3333% {
    transform: translateX(-25%);
  }
  66.666%, 91.666% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-75%);
  }
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #eae6fe;
}
.left .img-slider {
  width: 18rem;
  height: 18rem;
  overflow: hidden;
}
.left .img-slider .img-container {
  animation: slide 15s infinite cubic-bezier(0.65, 0, 0.35, 1);
  display: flex;
  flex-direction: row;
  width: 400%;
}
.left .img-slider .img-container img {
  width: 18rem;
  height: 18rem;
}
.left h2 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}
.left .slider-indicator {
  display: flex;
  gap: 0.5rem;
  margin-top: 1.5rem;
}
.left .slider-indicator .progress-container {
  height: 0.25rem;
  width: 3rem;
  background: #d2cded;
  border-radius: 100em;
  position: relative;
}
.left .slider-indicator .progress-container .progress-bar {
  background: #9289c6;
  position: absolute;
  height: 0.25rem;
  border-radius: 100em;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right form {
  display: flex;
  flex-direction: column;
  width: 20rem;
}
.right form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  letter-spacing: -0.125rem;
}
.right form input {
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}
.right form input::-moz-placeholder {
  color: #c1c1c1;
}
.right form input::placeholder {
  color: #c1c1c1;
}
.right form label {
  padding-bottom: 0.25rem;
  padding-top: 1.5rem;
}
.right form .forgot-password {
  align-self: flex-end;
  margin-top: 1rem;
  margin-bottom: 2.25rem;
}

a {
  color: #6153bd;
  font-family: sans-serif;
  font-size: 0.875rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.25rem;
}

.btn-primary {
  background: #120071;
  color: #fff;
  border: none;
  transition: opacity 0.2s ease;
}
.btn-primary:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn-secondary {
  background: #fff;
  color: #7d7d7d;
  gap: 0.75rem;
  border: 1px solid rgb(210, 225, 236);
  transition: opacity 0.2s ease;
  margin-block: 1rem;
  transition: background 0.2s ease;
}
.btn-secondary img {
  width: 1.25rem;
  height: 1.25rem;
}
.btn-secondary:hover {
  background: hsl(0, 0%, 95%);
  cursor: pointer;
}

.create-account {
  align-self: center;
}

.wave {
  position: absolute;
  opacity: 0.4;
  width: 80rem;
  height: 86rem;
  border-radius: 43%;
}

.wave-one {
  animation: rotate 10000ms infinite linear;
  background: white;
  opacity: 5%;
}

.wave-two {
  animation: rotate 6000ms infinite linear;
  background: white;
  opacity: 10%;
}

@keyframes rotate {
  from {
    transform: rotate(90deg);
  }
  from {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */